playbook-SOCaaS_-_Cortex_XDR_incident_handling_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 4.8.18
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is triggered by fetching a Palo Alto Networks Cortex XDR incident.
  The playbook syncs and updates new XDR alerts that construct the incident and triggers a sub-playbook to handle each alert by type.
  Then, the playbook performs enrichment on the incident’s indicators and hunts for related IOCs.
  Based on the severity, it lets the analyst decide whether to continue to the remediation stage or close the investigation as a false positive.
  After the remediation, if there are no new alerts, the playbook stops the alert sync and closes the XDR incident and investigation. For performing the bidirectional sync, the playbook uses the incoming and outgoing mirroring feature added in XSOAR version 6.0.0. After the Calculate Severity - Generic v2 sub-playbook’s run, Cortex XSOAR will be treated as the single source of truth for the severity field, and it will sync only from Cortex XSOAR to XDR, so manual changes for the severity field in XDR will not update in the XSOAR incident.
id: f2c50835-34e9-4929-8934-57209a3c778c
inputs: []
name: SOCaaS - Cortex XDR incident handling_copy
outputs: []
sourceplaybookid: Cortex XDR incident handling v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c71462ee-dfd7-4563-8ef2-843d955b631e
      iscommand: false
      name: ""
      version: -1
    taskid: c71462ee-dfd7-4563-8ef2-843d955b631e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 910,
          "y": 50
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.severity
          operator: inList
          right:
            value:
              simple: medium,high,critical
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "29"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b095498e-9b26-4138-8936-b7d74e3e38bc
      iscommand: false
      name: Should handle the incident?
      type: condition
      version: -1
    taskid: b095498e-9b26-4138-8936-b7d74e3e38bc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 545
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 2
    scriptarguments:
      caseSource:
        simple: Cortex XDR
      caseTitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      casecreation_casesource:
        simple: XSOAR_CORTEX_XDR
      casecreation_casetitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      casecreation_customerid:
        simple: ${MSSPortal.CustomerInfo.id}
      casecreation_description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      casecreation_priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      casecreation_servicecomponent:
        simple: SOC
      customerId:
        simple: ${MSSPortal.tsp_customer_id}
      description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      serviceComponent:
        simple: SOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-create-case command: Returns a MSSPortal case'
      id: 45d852d9-f5a0-4dd1-8a6b-9c83d5ded932
      iscommand: true
      name: Create a case in portal
      script: '|||mssportal-create-case'
      type: regular
      version: -1
    taskid: 45d852d9-f5a0-4dd1-8a6b-9c83d5ded932
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1070
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 75000133-5c72-46ec-8f08-d64cb12b6845
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 75000133-5c72-46ec-8f08-d64cb12b6845
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3345
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 2
    scriptarguments:
      id:
        simple: ${MSSPortal.Case.id}
      id_:
        simple: ${MSSPortal.CaseInfo.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-acknowledge-case command: Change case status from ''pending''
        to ''Investigate'''
      id: cfe2cb6f-6653-444a-8159-8fb83ef40ca5
      iscommand: true
      name: Update the case in portal to change the case status from pending to inprogress
      script: '|||mssportal-acknowledge-case'
      type: regular
      version: -1
    taskid: cfe2cb6f-6653-444a-8159-8fb83ef40ca5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2470
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    scriptarguments:
      caseresolution_resolutionnotes:
        simple: 'FALSE POSTIVE '
      id:
        simple: ${MSSPortal.Case.id}
      id_:
        simple: ${MSSPortal.CaseInfo.id}
      resolutionNotes:
        simple: False positive - auto closure
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-resolve-case command:  resolve case in MSS Portal'
      id: 1ecc8853-eb78-4170-8777-c60836217990
      iscommand: true
      name: Close incident
      script: '|||mssportal-resolve-case'
      type: regular
      version: -1
    taskid: 1ecc8853-eb78-4170-8777-c60836217990
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3170
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 2
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "1"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates random string
      id: fad24585-30ab-4428-85c9-05848c24ecd0
      iscommand: false
      name: Check if the endpoint is VIP or server
      script: GenerateRandomString
      type: regular
      version: -1
    taskid: fad24585-30ab-4428-85c9-05848c24ecd0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2820
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.alert_categories
          operator: containsGeneral
          right:
            value:
              simple: Malware
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "27"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 55895b3d-c672-4583-8f0a-a1aa5cf3a81d
      iscommand: false
      name: Malware on Host
      type: condition
      version: -1
    taskid: 55895b3d-c672-4583-8f0a-a1aa5cf3a81d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1420
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6e30207-8a93-4515-80d1-a70585c53cfd
      iscommand: false
      name: 'Alert Category #1'
      type: title
      version: -1
    taskid: c6e30207-8a93-4515-80d1-a70585c53cfd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 3185
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 2
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "1"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates random string
      id: 73faaba8-c83b-441f-8c3d-c7f073596ec1
      iscommand: false
      name: Check if false positive
      script: GenerateRandomString
      type: regular
      version: -1
    taskid: 73faaba8-c83b-441f-8c3d-c7f073596ec1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: RandomString
          operator: match
          right:
            value:
              simple: '[a-b]'
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3eb4298c-62b7-4402-8eee-cab5a86be0b6
      iscommand: false
      name: Is false positive?
      type: condition
      version: -1
    taskid: 3eb4298c-62b7-4402-8eee-cab5a86be0b6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2295
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6a4f4784-692f-45be-849a-72cdc7401d39
      iscommand: false
      name: 'Alert Category #2'
      type: title
      version: -1
    taskid: 6a4f4784-692f-45be-849a-72cdc7401d39
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 3185
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: RandomString
          operator: inList
          right:
            value:
              simple: '[a-o]'
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "25"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d87e71a8-5a60-4271-864a-fc5198ddeda5
      iscommand: false
      name: Is the endpoint VIP or Server?
      type: condition
      version: -1
    taskid: d87e71a8-5a60-4271-864a-fc5198ddeda5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2995
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    scriptarguments:
      taskcreation_abouttoexpirethresholdindays:
        simple: "2"
      taskcreation_accountable:
        simple: CUSTOMER
      taskcreation_caseid:
        simple: ${MSSPortal.CaseInfo.id}
      taskcreation_description:
        simple: PLEASE CLEAN UP HOST
      taskcreation_duedate:
        complex:
          accessor: createdAt
          root: MSSPortal.CaseInfo
          transformers:
          - args:
              variation:
                value:
                  simple: in 3 days
            operator: ModifyDateTime
          - args:
              format:
                value:
                  simple: "2006-01-02"
            operator: toString
      taskcreation_modifiedbytelus:
        simple: "false"
      taskcreation_name:
        simple: HOST CLEAN-UP
      taskcreation_phase:
        simple: INVESTIGATE
      taskcreation_priority:
        simple: MEDIUM
      taskcreation_status:
        simple: PENDING
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Create a task
      id: f1349690-d014-43eb-88c5-55e514a72d26
      iscommand: true
      name: Create portal task to clean up hosts
      script: '|||mssportal-create-task'
      type: regular
      version: -1
    taskid: f1349690-d014-43eb-88c5-55e514a72d26
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3170
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      id_:
        simple: ${MSSPortal.CaseInfo.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm Case Incident
      id: 0fe00cf9-f2c4-4e1b-84ac-8f36cc19868e
      iscommand: true
      name: Confirm the portal case as a true incident
      script: '|||mssportal-confirm-case-incident'
      type: regular
      version: -1
    taskid: 0fe00cf9-f2c4-4e1b-84ac-8f36cc19868e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2645
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 2
    scriptarguments:
      incident_id:
        simple: ${incident.xdrincidentid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Returns additional data for the specified incident, for example,
        related alerts, file artifacts, network artifacts, and so on.
      id: a84b1670-fa81-4d41-83a8-a18ee6db22ed
      iscommand: true
      name: 'Get extra incident data '
      script: Cortex XDR - IR|||xdr-get-incident-extra-data
      type: regular
      version: -1
    taskid: a84b1670-fa81-4d41-83a8-a18ee6db22ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 370
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 2
    scriptarguments:
      IncidentID:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 647cc1d0-43c8-405a-8202-1aeed7a985be
      iscommand: false
      name: SOCaaS - Cortex XDR Malware - Incident Enrichment
      playbookId: a3154fd7-21d8-4067-8c32-cd7bcd4afe07
      type: playbook
      version: -1
    taskid: 647cc1d0-43c8-405a-8202-1aeed7a985be
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "12"
      - "15"
    note: false
    quietmode: 2
    scriptarguments:
      alertcreation_customerid:
        simple: ${MSSPortal.CaseInfo.customerId}
      alertcreation_name:
        simple: ${MSSPortal.CaseInfo.caseTitle}
      alertcreation_severity:
        simple: ${MSSPortal.CaseInfo.priority}
      alertcreation_sourcealertid:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      alertcreation_sourcecreatedat:
        complex:
          accessor: creation_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      alertcreation_sourceid:
        simple: ${MSSPortal.CaseInfo.caseSource}
      alertcreation_sourcemodifiedat:
        complex:
          accessor: modification_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      caseDescription:
        simple: ${MSSPortal.Case.description}
      caseTitle:
        simple: ${MSSPortal.Case.caseTitle}
      customerId:
        simple: ${MSSPortal.Case.customerId}
      investigationCaseId:
        simple: ${MSSPortal.Case.id}
      name:
        simple: ${MSSPortal.Case.caseTitle}
      severity:
        simple: ${MSSPortal.Case.priority}
      sourceAlertId:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      sourceCreatedAt:
        complex:
          accessor: creation_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      sourceId:
        simple: ${MSSPortal.Case.caseSource}
      sourceModifiedAt:
        complex:
          accessor: modification_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      sourceRaw:
        simple: ${PaloAltoNetworksXDR.Incident}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-create-alert command: Returns a MSSPortal alert'
      id: fa3d51cd-46cf-4962-8328-fa452002e3e0
      iscommand: true
      name: Create an alert to the case
      script: '|||mssportal-create-alert'
      type: regular
      version: -1
    taskid: fa3d51cd-46cf-4962-8328-fa452002e3e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1245
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    sla:
      days: 3
      hours: 0
      minutes: 0
      weeks: 0
    task:
      brand: MSS Portal - MDR
      description: 'mssportal-create-task command: Returns a MSSPortal task'
      id: 4f764d65-2b33-4a13-8f0d-f1565f1e70fb
      iscommand: false
      name: Handle Malware on VIP or SERVER
      type: regular
      version: -1
    taskid: 4f764d65-2b33-4a13-8f0d-f1565f1e70fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3170
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10d2c4e7-4d41-475a-8a8b-36724387683d
      iscommand: false
      name: Get customer id
      script: a4743b1e-d208-4ff0-8272-d272c558ca46
      type: regular
      version: -1
    taskid: 10d2c4e7-4d41-475a-8a8b-36724387683d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 195
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 2
    scriptarguments:
      limit:
        simple: "1"
      searchText:
        simple: Malware on host
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find playbooks
      id: 8946344e-5a5e-4a52-8128-da12dd63ad1c
      iscommand: true
      name: Find Malware on host playbooks on the portal
      script: '|||mssportal-find-playbooks'
      type: regular
      version: -1
    taskid: 8946344e-5a5e-4a52-8128-da12dd63ad1c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1595
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      activateplaybookrequest_caseid:
        simple: ${MSSPortal.CaseInfo.id}
      activateplaybookrequest_playbookid:
        simple: ${MSSPortal.PagePlaybookInfo.content.[0].id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Activate playbook
      id: 8197d272-53b3-4dae-83bb-adbebb6b3524
      iscommand: true
      name: Activate portal's  Malware on host playbook in the case
      script: '|||mssportal-activate-playbook'
      type: regular
      version: -1
    taskid: 8197d272-53b3-4dae-83bb-adbebb6b3524
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1770
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      alertId:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      customerId:
        simple: ${MSSPortal.CustomerInfo.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find cases
      id: 8c2cda15-5e1e-4312-8aa7-f1d53f00438e
      iscommand: true
      name: Verify Case Source ID Exists
      script: '|||mssportal-find-cases'
      type: regular
      version: -1
    taskid: 8c2cda15-5e1e-4312-8aa7-f1d53f00438e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 720
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MSSPortal.PageCaseInfo.empty
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cf85bbff-c26e-4ea4-8909-2f796211cf45
      iscommand: false
      name: Case Exists?
      type: condition
      version: -1
    taskid: cf85bbff-c26e-4ea4-8909-2f796211cf45
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 895
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3360,
        "width": 2100,
        "x": 50,
        "y": 50
      }
    }
  }
