playbook-Cortex_XDR_-_True_Positive_Incident_Handling.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 4.8.18
    packID: CortexXDR
    packPropagationLabels:
    - all
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook handles a true-positive incident closure for Cortex XDR - Malware Investigation.
id: Cortex XDR - True Positive Incident Handling
inputs:
- description: Add comment to close this incident.
  key: Comment
  playbookInputQuery: null
  required: false
  value:
    simple: 'XSOAR Incident #${incident.id}'
- description: Choose From - "Unknown" / "TruePositive"
  key: Classification
  playbookInputQuery: null
  required: false
  value:
    simple: TruePositive
- description: Specify the banning tag name for founded indicators.
  key: BlockTag
  playbookInputQuery: null
  required: false
  value:
    simple: BlockTag
- description: |-
    Indicates if automatic host isolation is allowed.
    True/False
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: For ticketing systems such as Jira a project name is required.
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the ticketing system to use, for example Jira or ServiceNow
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: Enter the File Sha256 you would like to block.
  key: FileSha256
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.filesha256}
- description: The ID of the host for running an isolation process.
  key: HostID
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.deviceid}
- description: Enter the File paths you would like to delete.
  key: FilePaths
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.processpath}
name: Cortex XDR - True Positive Incident Handling
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 11349e70-efd4-44e1-8f86-8e119082bd38
      iscommand: false
      name: ""
      version: -1
    taskid: 11349e70-efd4-44e1-8f86-8e119082bd38
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -1980,
          "y": -160
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 981b2cb5-803f-4fd5-81f7-2cc7e572174c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 981b2cb5-803f-4fd5-81f7-2cc7e572174c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1770,
          "y": 1205
        }
      }
  "7":
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: ${inputs.Comment}
      closeReason:
        simple: ${inputs.Classification}
      id:
        complex:
          accessor: id
          root: foundIncidents
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.id
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 9a9db41f-1f81-4939-89f9-4ce77e44781a
      iscommand: true
      name: Close  XSOAR incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9a9db41f-1f81-4939-89f9-4ce77e44781a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1770,
          "y": 1055
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Approve isolation
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#default#':
      - "44"
      "Yes":
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Approve isolation
      id: c26e3e04-894f-4d26-80d3-2f0df6074981
      iscommand: false
      name: Approve isolation
      type: condition
      version: -1
    taskid: c26e3e04-894f-4d26-80d3-2f0df6074981
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1820,
          "y": 410
        }
      }
  "20":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AutoIsolation
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is auto isolation allowed?
      id: f745236a-b4e2-491f-8670-2ed157810803
      iscommand: false
      name: Is auto isolation allowed?
      type: condition
      version: -1
    taskid: f745236a-b4e2-491f-8670-2ed157810803
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1610,
          "y": 240
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 637d780b-eed7-458a-804f-fb5bd51d6320
      iscommand: false
      name: Incident Auditing
      type: title
      version: -1
    taskid: 637d780b-eed7-458a-804f-fb5bd51d6320
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2860,
          "y": -20
        }
      }
  "22":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: SNOW
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: ServiceNow
      label: SNOW
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: JIRA
      label: JIRA
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      JIRA:
      - "57"
      SNOW:
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is a ticketing system defined?
      id: 4998e2bc-c881-419d-8248-97e0744f8bff
      iscommand: false
      name: Is a ticketing system defined?
      type: condition
      version: -1
    taskid: 4998e2bc-c881-419d-8248-97e0744f8bff
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2860,
          "y": 110
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c5403268-5531-455d-8224-2c7bacde048f
      iscommand: false
      name: Done auditing step
      type: title
      version: -1
    taskid: c5403268-5531-455d-8224-2c7bacde048f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2860,
          "y": 770
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dffa5a0f-848c-4c2c-8345-c1a330cdf68e
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: dffa5a0f-848c-4c2c-8345-c1a330cdf68e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -990,
          "y": 120
        }
      }
  "27":
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Mark the indicators to block
        options: []
        optionsarg:
        - complex:
            root: inputs.FileSha256
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Indicators to block
      totalanswers: 0
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm Indicators to block
      id: dc20ccc0-debb-429b-8acd-44950a7ad521
      iscommand: false
      name: Confirm Indicators to block
      type: collection
      version: -1
    taskid: dc20ccc0-debb-429b-8acd-44950a7ad521
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -990,
          "y": 240
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      indicatorsValues:
        simple: ${Indicators to block.Answers.0}
      tags:
        simple: ${inputs.BlockTag}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicators
      id: a75770e3-3c63-4198-8193-7f57e39f2234
      iscommand: true
      name: Tag Indicators
      script: Builtin|||setIndicators
      type: regular
      version: -1
    taskid: a75770e3-3c63-4198-8193-7f57e39f2234
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1200,
          "y": 580
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d0fccaee-9158-44ad-867d-3da0cb14a62d
      iscommand: false
      name: Done block indicators
      type: title
      version: -1
    taskid: d0fccaee-9158-44ad-867d-3da0cb14a62d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -990,
          "y": 770
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9db48d58-13dc-4d2b-8fc8-f934b8a8e61d
      iscommand: false
      name: Isolate system/s
      type: title
      version: -1
    taskid: 9db48d58-13dc-4d2b-8fc8-f934b8a8e61d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1610,
          "y": 120
        }
      }
  "44":
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0fc69008-4879-44e6-8efa-f52a037d6402
      iscommand: false
      name: Done with isolating the infected device
      type: title
      version: -1
    taskid: 0fc69008-4879-44e6-8efa-f52a037d6402
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1610,
          "y": 770
        }
      }
  "53":
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aef83a49-1bea-422e-8403-cadf27802149
      iscommand: false
      name: Final Closure
      type: title
      version: -1
    taskid: aef83a49-1bea-422e-8403-cadf27802149
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1770,
          "y": 920
        }
      }
  "54":
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.Comment}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This script is used to wrap the generic create-record command in ServiceNow.
        You can add fields that you want to create the record with as script arguments or in the
        code and work with the records easily.
      id: e7d1c80a-7f2d-4545-8ff7-c65ea67ca265
      iscommand: false
      name: Open Snow ticket
      script: ServiceNowCreateIncident
      type: regular
      version: -1
    taskid: e7d1c80a-7f2d-4545-8ff7-c65ea67ca265
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3070,
          "y": 460
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      projectName:
        simple: ${inputs.TicketProjectName}
      summary:
        simple: ${inputs.Comment}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Creates a new issue in Jira.
      id: 05db7622-4b76-443d-8c1b-969f7ab4837b
      iscommand: true
      name: Open Jira ticket
      script: '|||jira-create-issue'
      type: regular
      version: -1
    taskid: 05db7622-4b76-443d-8c1b-969f7ab4837b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2650,
          "y": 460
        }
      }
  "56":
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: ServiceNow v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 741f883d-a6f0-408a-89fe-f326e39cc9da
      iscommand: false
      name: Is ServiceNow Available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 741f883d-a6f0-408a-89fe-f326e39cc9da
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -3070,
          "y": 280
        }
      }
  "57":
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "25"
      "yes":
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: jira-v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: b6bda6ab-a83f-4e7d-804a-7c7c255db9d7
      iscommand: false
      name: Is Jira Available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: b6bda6ab-a83f-4e7d-804a-7c7c255db9d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2650,
          "y": 280
        }
      }
  "64":
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 48698586-b1d5-4a9a-8ed3-ee37b7e2a1ee
      iscommand: false
      name: Done with isolating the infected device
      type: title
      version: -1
    taskid: 48698586-b1d5-4a9a-8ed3-ee37b7e2a1ee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2240,
          "y": 770
        }
      }
  "66":
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 084ee8e5-5651-4bf6-88ae-3360ecc1ea22
      iscommand: false
      name: Clean Malicious Files
      type: title
      version: -1
    taskid: 084ee8e5-5651-4bf6-88ae-3360ecc1ea22
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2240,
          "y": 120
        }
      }
  "70":
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id:
        complex:
          root: inputs.HostID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook accepts an XDR endpoint ID and isolates it using
        the 'Palo Alto Networks Cortex XDR - Investigation and Response' integration.
      id: 9343c6d4-5097-47e0-89df-f462cef8aa8a
      iscommand: false
      name: Cortex XDR - Isolate Endpoint
      playbookId: Cortex XDR - Isolate Endpoint
      type: playbook
      version: -1
    taskid: 9343c6d4-5097-47e0-89df-f462cef8aa8a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1610,
          "y": 580
        }
      }
  "71":
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id:
        simple: ${inputs.HostID}
      file_path:
        simple: ${Confirm which SHA1 should be deleted.Answers.0}
      polling_timeout:
        simple: "10"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Initiates a new endpoint script execution to delete the specified
        file and retrieve the results.
      id: 480bc329-81ff-4f7e-8f55-977b58dda775
      iscommand: false
      name: Cortex XDR - delete file
      playbookId: Cortex XDR - delete file
      type: playbook
      version: -1
    taskid: 480bc329-81ff-4f7e-8f55-977b58dda775
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -2030,
          "y": 580
        }
      }
  "72":
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      hash_list:
        simple: ${Indicators to block.Answers.0}
      incident_id:
        simple: ${incident.externalsystemid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Block lists requested files which have not already been block listed
        or added to allow lists.
      id: f46a2197-9bb8-40c4-8916-e99ca9f5e572
      iscommand: true
      name: Create IOCs in Cortex XDR - Banned Hashes
      script: '|||xdr-blocklist-files'
      type: regular
      version: -1
    taskid: f46a2197-9bb8-40c4-8916-e99ca9f5e572
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -780,
          "y": 580
        }
      }
  "74":
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Confirm which File Path will be deleted
        options: []
        optionsarg:
        - simple: ${inputs.FilePaths}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Confirm which File Path will be deleted
      totalanswers: 0
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm which File Path will be deleted
      id: a796d2a1-aa24-474b-86f8-a924de9a6921
      iscommand: false
      name: Confirm which File Path will be deleted
      type: collection
      version: -1
    taskid: a796d2a1-aa24-474b-86f8-a924de9a6921
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -2240,
          "y": 240
        }
      }
  "75":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Indicators to block.Answers.0
          operator: isNotEmpty
      label: "yes"
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "29"
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was there any hash selected?
      id: feaee1c2-e038-485d-87d7-0f00dde68c1b
      iscommand: false
      name: Was there any hash selected?
      type: condition
      version: -1
    taskid: feaee1c2-e038-485d-87d7-0f00dde68c1b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -990,
          "y": 410
        }
      }
  "76":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Confirm which File Path will be deleted.Answers.0
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was there any hash selected?
      id: 910e051c-6606-49c7-85a3-9abb353c0a7c
      iscommand: false
      name: Was there any hash selected?
      type: condition
      version: -1
    taskid: 910e051c-6606-49c7-85a3-9abb353c0a7c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2240,
          "y": 410
        }
      }
  "77":
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "33"
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b3f53ec5-9365-4717-81a7-73db4ef09539
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: b3f53ec5-9365-4717-81a7-73db4ef09539
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1610,
          "y": -20
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1430,
        "width": 2670,
        "x": -3070,
        "y": -160
      }
    }
  }
