playbook-SOCaaS_-_Cortex_XDR_Malware_-_Incident_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 4.8.19
    packID: ""
    packName: Palo Alto Networks Cortex XDR - Investigation and Response
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook enriches the Cortex XDR incident. The enrichment is done on the involved endpoint and Mitre technique ID information, and sets the 'Malware-Investigation and Response' layout.
id: a3154fd7-21d8-4067-8c32-cd7bcd4afe07
inputs:
- description: The incident ID to be enriched.
  key: IncidentID
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.externalsystemid}
name: SOCaaS - Cortex XDR Malware - Incident Enrichment
outputs:
- contextPath: PaloAltoNetworksXDR.Incident
  description: Cortex XDR incident information.
  type: unknown
- contextPath: File
  description: File information.
  type: unknown
- contextPath: Process
  description: Process information.
  type: unknown
- contextPath: IP
  description: IP information.
  type: unknown
- contextPath: Domain
  description: Domain information.
  type: unknown
- contextPath: Endpoint.ID
  description: The endpoint identifier.
- contextPath: Endpoint.Hostname
  description: The host name that is mapped to this endpoint.
- contextPath: Endpoint.OS
  description: The endpoint operating system.
- contextPath: Endpoint.OSVersion
  description: The endpoint operating system version.
- contextPath: Endpoint.IPAddress
  description: The endpoint IP address.
- contextPath: Endpoint.Status
  description: The health status of the endpoint.
- contextPath: Endpoint.MACAddress
  description: The endpoint MAC address.
- contextPath: Endpoint.Vendor
  description: The integration name of the endpoint vendor.
- contextPath: AttackPattern
  description: Array of attack pattern names and IDs.
  type: string
- contextPath: MITREATTACK
  description: The full MITRE data for the attack pattern.
  type: string
sourceplaybookid: Cortex XDR Malware - Incident Enrichment
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2662664-fba0-4b18-883f-187e0c0ab4de
      iscommand: false
      name: ""
      version: -1
    taskid: e2662664-fba0-4b18-883f-187e0c0ab4de
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 660,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Hostnames
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_name}
    - incidentfield: Detected Users
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.user_name}
    - incidentfield: MITRE Technique ID
      output:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.mitre_techniques_ids_and_names
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.mitre_techniques_ids_and_names
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: \bT\d{4}(?:\.\d{3})?\b
              unpack_matches: {}
            operator: RegexExtractAll
    - incidentfield: MITRE Tactic ID
      output:
        simple: ${PaloAltoNetworksXDR.Incident.mitre_tactics_ids_and_names}
    - incidentfield: Parent CMD line
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_command_line}
    - incidentfield: Process CMD
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.actor_process_command_line}
    - incidentfield: CMD line
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_process_image_command_line}
    - incidentfield: File SHA256
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256}
    - incidentfield: External Link
      output:
        simple: ${PaloAltoNetworksXDR.Incident.xdr_url}
    - incidentfield: Description
      output:
        simple: ${PaloAltoNetworksXDR.Incident.description}
    - incidentfield: File Names
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_name}
    - incidentfield: File MD5
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_file_md5}
    - incidentfield: Process MD5
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_file_md5}
    - incidentfield: Process SHA256
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256}
    - incidentfield: Agents ID
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.endpoint_id}
    - incidentfield: Agent Version
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.agent_version}
    - incidentfield: Detected Internal IPs
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_ip}
    - incidentfield: Hostnames
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_name}
    - incidentfield: Device OS Name
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.agent_os_type}
    - incidentfield: External Category Name
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.category}
    - incidentfield: External End Time
      output:
        simple: ${PaloAltoNetworksXDR.Incident.modification_time}
    - incidentfield: External Start Time
      output:
        simple: ${PaloAltoNetworksXDR.Incident.creation_time}
    - incidentfield: External Link
      output:
        simple: ${PaloAltoNetworksXDR.Incident.xdr_url}
    - incidentfield: External Severity
      output:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
    - incidentfield: Parent Process CMD
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_command_line}
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        simple: ${inputs.IncidentID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns additional data for the specified incident, for example
        related alerts, file artifacts, and network artifacts.
      id: 79550845-832e-47f8-8fa8-84cd6abc8069
      iscommand: true
      name: Get Full Incident Details
      script: '|||xdr-get-incident-extra-data'
      type: regular
      version: -1
    taskid: 79550845-832e-47f8-8fa8-84cd6abc8069
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 330
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: agentsid
          root: incident
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Returns information about an endpoint.
      id: 9ce7b577-5e63-4a57-8313-c32db64870bf
      iscommand: true
      name: Enrich endpoint details
      script: Cortex XDR - IR|||endpoint
      type: regular
      version: -1
    taskid: 9ce7b577-5e63-4a57-8313-c32db64870bf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -30,
          "y": 950
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6e91f816-6b64-4094-8e39-8c9887667fe1
      iscommand: false
      name: 'Mitre Info '
      type: title
      version: -1
    taskid: 6e91f816-6b64-4094-8e39-8c9887667fe1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 820
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
      - "6"
      - "21"
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f67e46b-42b0-43aa-8584-55e720526232
      iscommand: false
      name: Entity Enrichments
      type: title
      version: -1
    taskid: 4f67e46b-42b0-43aa-8584-55e720526232
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 660,
          "y": 680
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6fc9fb96-ead7-4f87-885d-5a8d15e279e4
      iscommand: false
      name: Endpoint info
      type: title
      version: -1
    taskid: 6fc9fb96-ead7-4f87-885d-5a8d15e279e4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -30,
          "y": 820
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2c687eeb-6a7a-43bc-81fd-d115b0aaad2b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 2c687eeb-6a7a-43bc-81fd-d115b0aaad2b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 1740
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      deviceid:
        simple: ${Endpoint.[0].ID}
      devicelocalip:
        simple: ${Endpoint.[0].IPAddress}
      devicemacaddress:
        simple: ${Endpoint.[0].MACAddress}
      devicename:
        simple: ${Endpoint.[0].Hostname}
      deviceosname:
        simple: ${Endpoint.[0].OS}
      deviceosversion:
        simple: ${Endpoint.[0].OSVersion}
      devicestatus:
        simple: ${Endpoint.[0].Status}
      isolated:
        simple: ${Endpoint.[0].IsIsolated}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 7c1aef1c-16a3-4ac6-8bd4-0ae6f59c1af3
      iscommand: true
      name: Set Endpoint information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 7c1aef1c-16a3-4ac6-8bd4-0ae6f59c1af3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1570
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether given entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If an array is provided, returns 'yes'
        if one of the entries returned an error.
      id: f0f238ea-37af-411b-89c2-34e473a4ffe2
      iscommand: false
      name: Check if we have more than 1 item
      script: isError
      type: condition
      version: -1
    taskid: f0f238ea-37af-411b-89c2-34e473a4ffe2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1320
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      deviceid:
        simple: ${Endpoint.ID}
      devicelocalip:
        simple: ${Endpoint.IPAddress}
      devicemacaddress:
        simple: ${Endpoint.MACAddress}
      devicename:
        simple: ${Endpoint.Hostname}
      deviceosname:
        simple: ${Endpoint.OS}
      deviceosversion:
        simple: ${Endpoint.OSVersion}
      devicestatus:
        simple: ${Endpoint.Status}
      isolated:
        simple: ${Endpoint.IsIsolated}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 824bd476-57d7-49d3-8b9c-4116c5546caf
      iscommand: true
      name: Set Endpoint information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 824bd476-57d7-49d3-8b9c-4116c5546caf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1150
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: Alert Name,Hostname,File Name,Process ID, SHA256,Command Line,Parent
          Process
      context_path:
        simple: PaloAltoNetworksXDR.Incident.alerts
      grid_id:
        simple: XDR Alerts
      keys:
        simple: alert_id,host_name,actor_process_image_name,actor_process_os_pid,actor_process_image_sha256,actor_process_command_line,causality_actor_process_image_name
      sort_by:
        simple: MicrosoftATP.Alert.Evidence.[0].processCommandLine
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a grid table from items or key-value pairs.
      id: e7f8f8f8-0219-455f-8189-dfada32149f3
      iscommand: false
      name: Set Alerts Table Info in the Layout
      script: SetGridField
      type: regular
      version: -1
    taskid: e7f8f8f8-0219-455f-8189-dfada32149f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 950
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fcd44a32-cfb2-4f3f-86de-751faae7ab00
      iscommand: false
      name: Set Alert info to Layout
      type: title
      version: -1
    taskid: fcd44a32-cfb2-4f3f-86de-751faae7ab00
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 430,
          "y": 820
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      TechniqueID:
        simple: ${incident.mitretechniqueid}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook accepts as input MITRE techniques IDs.
        It returns the MITRE technique name and full technique data using the MITRE integration.
      id: ddb6c28d-7aaa-47eb-8c09-8955ca66a478
      iscommand: false
      name: Mitre Attack - Extract Technique Information From ID
      playbookId: Mitre Attack - Extract Technique Information From ID
      type: playbook
      version: -1
    taskid: ddb6c28d-7aaa-47eb-8c09-8955ca66a478
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1570
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      md5:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_md5
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_md5
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
            operator: SetIfEmpty
      parentprocessfilepath:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_image_path
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_image_path
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
            operator: SetIfEmpty
      processname:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_name
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_name
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
            operator: SetIfEmpty
      processpath:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_path
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_path
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
            operator: SetIfEmpty
      sha256:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_sha256
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_sha256
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: e2a71ae9-0a7d-4205-81a5-c7f6936aeee1
      iscommand: true
      name: Set Process Details To Layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: e2a71ae9-0a7d-4205-81a5-c7f6936aeee1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 1150
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.mitretechniqueid}
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Mitre technique.
      id: 7dcc7e32-8eda-4f1d-888c-a39d5c19d416
      iscommand: false
      name: Check If there is a Mitre technique
      type: condition
      version: -1
    taskid: 7dcc7e32-8eda-4f1d-888c-a39d5c19d416
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 960
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${PaloAltoNetworksXDR.Incident}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 1e78ebc6-4ecd-40be-81f4-412f7818aa15
      iscommand: true
      name: Extract Indicators
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 1e78ebc6-4ecd-40be-81f4-412f7818aa15
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 490
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6dba72e-e78c-48f9-8c95-e5a22f9b4e7d
      iscommand: false
      name: Account Enrichment
      type: title
      version: -1
    taskid: b6dba72e-e78c-48f9-8c95-e5a22f9b4e7d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 820
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      accountmemberof:
        simple: ${Account.Groups}
      accountname:
        complex:
          accessor: DisplayName
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.DisplayName
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.DisplayName
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile=val.firstName + ' ' + val.lastName
            operator: If-Then-Else
      accountstatus:
        complex:
          accessor: Status
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Status
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Status
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.status
            operator: If-Then-Else
      employeeemail:
        complex:
          accessor: Email
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Email
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Email
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.email
            operator: If-Then-Else
          - operator: uniq
          - operator: FirstArrayElement
      employeetype:
        complex:
          accessor: Type
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Type
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Type
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.userType
            operator: If-Then-Else
      manageremailaddress:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: UserManagerEmail
              operator: isNotEmpty
          root: UserManagerEmail
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
      managername:
        complex:
          accessor: Manager
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Manager
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Manager
              then:
                iscontext: true
                value:
                  simple: IAM.UserProfile.profile.manager
            operator: If-Then-Else
      samaccountname:
        complex:
          accessor: Username
          root: Account
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: Account.Username
              equals: {}
              lhs: {}
              options: {}
              rhs:
                iscontext: true
                value:
                  simple: Account.Username
              then:
                value:
                  simple: IAM.UserProfile.profile.login
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 8401d5ed-0078-47d7-8982-db1af42cea12
      iscommand: true
      name: Set Account information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 8401d5ed-0078-47d7-8982-db1af42cea12
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1570
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.users
              operator: isNotEmpty
          root: incident.users
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 2b0ccd50-eea3-4392-8927-c4aa231ce630
      iscommand: false
      name: Account Enrichment - Generic v2.1
      playbookId: Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 2b0ccd50-eea3-4392-8927-c4aa231ce630
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 960
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1615,
        "width": 1710,
        "x": -30,
        "y": 190
      }
    }
  }
