playbook-SOCaaS_-_Sync_with_portal.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 6dc39833-9dd7-4176-8523-952309374dbe
inputs: []
name: SOCaaS - Sync with portal
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12386d1e-c7cd-4187-866e-c3e92f4b83f4
      iscommand: false
      name: ""
      version: -1
    taskid: 12386d1e-c7cd-4187-866e-c3e92f4b83f4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      alert_id:
        simple: ${incident.alertid}
      created_at:
        complex:
          accessor: sourcecreatetime
          root: incident
          transformers:
          - args:
              add_utc_timezone:
                value:
                  simple: "true"
              dayfirst: {}
              fuzzy: {}
              yearfirst: {}
            operator: DateStringToISOFormat
      customer_id:
        simple: "33096"
      modified_at:
        complex:
          accessor: sourcecreatetime
          root: incident
          transformers:
          - args:
              add_utc_timezone:
                value:
                  simple: "true"
              dayfirst: {}
              fuzzy: {}
              yearfirst: {}
            operator: DateStringToISOFormat
      name:
        simple: ${incident.alertname}
      provider_id:
        simple: XSOAR_LOGRHYTHM
      raw_data:
        simple: '{}'
      severity:
        simple: MEDIUM
    separatecontext: false
    skipunavailable: false
    task:
      brand: MSS Portal - MDR
      description: Create an alert using Portal's MDR API
      id: 7d773155-40f4-41a2-8597-d72f61c17ae1
      iscommand: true
      name: mssportal-create-alert
      script: MSS Portal - MDR|||mssportal-create-alert
      type: regular
      version: -1
    taskid: 7d773155-40f4-41a2-8597-d72f61c17ae1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 275,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
