playbook-SOCaaS_-_Cortex_XDR_incident_handling_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 4.8.18
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is triggered by fetching a Palo Alto Networks Cortex XDR incident.
  The playbook syncs and updates new XDR alerts that construct the incident and triggers a sub-playbook to handle each alert by type.
  Then, the playbook performs enrichment on the incident’s indicators and hunts for related IOCs.
  Based on the severity, it lets the analyst decide whether to continue to the remediation stage or close the investigation as a false positive.
  After the remediation, if there are no new alerts, the playbook stops the alert sync and closes the XDR incident and investigation. For performing the bidirectional sync, the playbook uses the incoming and outgoing mirroring feature added in XSOAR version 6.0.0. After the Calculate Severity - Generic v2 sub-playbook’s run, Cortex XSOAR will be treated as the single source of truth for the severity field, and it will sync only from Cortex XSOAR to XDR, so manual changes for the severity field in XDR will not update in the XSOAR incident.
id: f2c50835-34e9-4929-8934-57209a3c778c
inputs: []
name: SOCaaS - Cortex XDR incident handling_copy
outputs: []
sourceplaybookid: Cortex XDR incident handling v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c71462ee-dfd7-4563-8ef2-843d955b631e
      iscommand: false
      name: ""
      version: -1
    taskid: c71462ee-dfd7-4563-8ef2-843d955b631e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1340,
          "y": -150
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.severity
          operator: inList
          right:
            value:
              simple: medium,high,critical
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "29"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b095498e-9b26-4138-8936-b7d74e3e38bc
      iscommand: false
      name: Should handle the incident?
      type: condition
      version: -1
    taskid: b095498e-9b26-4138-8936-b7d74e3e38bc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -210,
          "y": 815
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 2
    scriptarguments:
      caseSource:
        simple: Cortex XDR
      caseTitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      casecreation_casesource:
        simple: XSOAR_CORTEX_XDR
      casecreation_casetitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      casecreation_customerid:
        simple: ${MSSPortal.CustomerInfo.id}
      casecreation_description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      casecreation_priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      casecreation_servicecomponent:
        simple: SOC
      customerId:
        simple: ${MSSPortal.tsp_customer_id}
      description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      serviceComponent:
        simple: SOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-create-case command: Returns a MSSPortal case'
      id: 45d852d9-f5a0-4dd1-8a6b-9c83d5ded932
      iscommand: true
      name: Create a case in portal
      script: '|||mssportal-create-case'
      type: regular
      version: -1
    taskid: 45d852d9-f5a0-4dd1-8a6b-9c83d5ded932
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1430
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 75000133-5c72-46ec-8f08-d64cb12b6845
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 75000133-5c72-46ec-8f08-d64cb12b6845
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 920,
          "y": 4070
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 2
    scriptarguments:
      id:
        simple: ${MSSPortal.Case.id}
      id_:
        simple: ${MSSPortal.CaseInfo.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-acknowledge-case command: Change case status from ''pending''
        to ''Investigate'''
      id: cfe2cb6f-6653-444a-8159-8fb83ef40ca5
      iscommand: true
      name: Update the case in portal to change the case status from pending to inprogress
      script: '|||mssportal-acknowledge-case'
      type: regular
      version: -1
    taskid: cfe2cb6f-6653-444a-8159-8fb83ef40ca5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2470
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    scriptarguments:
      caseresolution_resolutionnotes:
        simple: 'FALSE POSTIVE '
      id:
        simple: ${MSSPortal.Case.id}
      id_:
        simple: ${MSSPortal.CaseInfo.id}
      resolutionNotes:
        simple: False positive - auto closure
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-resolve-case command:  resolve case in MSS Portal'
      id: 1ecc8853-eb78-4170-8777-c60836217990
      iscommand: true
      name: Close incident
      script: '|||mssportal-resolve-case'
      type: regular
      version: -1
    taskid: 1ecc8853-eb78-4170-8777-c60836217990
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3170
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 2
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "1"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates random string
      id: fad24585-30ab-4428-85c9-05848c24ecd0
      iscommand: false
      name: Check if the endpoint is VIP or server
      script: GenerateRandomString
      type: regular
      version: -1
    taskid: fad24585-30ab-4428-85c9-05848c24ecd0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2820
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.alert_categories
          operator: containsGeneral
          right:
            value:
              simple: Malware
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "27"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 55895b3d-c672-4583-8f0a-a1aa5cf3a81d
      iscommand: false
      name: Malware on Host
      type: condition
      version: -1
    taskid: 55895b3d-c672-4583-8f0a-a1aa5cf3a81d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -640,
          "y": 1690
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
      - "32"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0bdf1719-0b05-4555-8eb4-a4f1757e29b2
      iscommand: false
      name: 'Matching Scenarios '
      type: title
      version: -1
    taskid: 0bdf1719-0b05-4555-8eb4-a4f1757e29b2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 3185
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 2
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "1"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates random string
      id: 73faaba8-c83b-441f-8c3d-c7f073596ec1
      iscommand: false
      name: Check if false positive
      script: GenerateRandomString
      type: regular
      version: -1
    taskid: 73faaba8-c83b-441f-8c3d-c7f073596ec1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: RandomString
          operator: match
          right:
            value:
              simple: '[a-b]'
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3eb4298c-62b7-4402-8eee-cab5a86be0b6
      iscommand: false
      name: Is false positive?
      type: condition
      version: -1
    taskid: 3eb4298c-62b7-4402-8eee-cab5a86be0b6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2295
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6a4f4784-692f-45be-849a-72cdc7401d39
      iscommand: false
      name: 'Alert Category #2'
      type: title
      version: -1
    taskid: 6a4f4784-692f-45be-849a-72cdc7401d39
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 3185
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: RandomString
          operator: inList
          right:
            value:
              simple: '[a-o]'
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "25"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d87e71a8-5a60-4271-864a-fc5198ddeda5
      iscommand: false
      name: Is the endpoint VIP or Server?
      type: condition
      version: -1
    taskid: d87e71a8-5a60-4271-864a-fc5198ddeda5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2995
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    scriptarguments:
      taskcreation_abouttoexpirethresholdindays:
        simple: "2"
      taskcreation_accountable:
        simple: CUSTOMER
      taskcreation_caseid:
        simple: ${MSSPortal.CaseInfo.id}
      taskcreation_description:
        simple: PLEASE CLEAN UP HOST
      taskcreation_duedate:
        complex:
          accessor: createdAt
          root: MSSPortal.CaseInfo
          transformers:
          - args:
              variation:
                value:
                  simple: in 3 days
            operator: ModifyDateTime
          - args:
              format:
                value:
                  simple: "2006-01-02"
            operator: toString
      taskcreation_modifiedbytelus:
        simple: "false"
      taskcreation_name:
        simple: HOST CLEAN-UP
      taskcreation_phase:
        simple: INVESTIGATE
      taskcreation_priority:
        simple: MEDIUM
      taskcreation_status:
        simple: PENDING
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Create a task
      id: f1349690-d014-43eb-88c5-55e514a72d26
      iscommand: true
      name: Create portal task to clean up hosts
      script: '|||mssportal-create-task'
      type: regular
      version: -1
    taskid: f1349690-d014-43eb-88c5-55e514a72d26
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3170
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      id_:
        simple: ${MSSPortal.CaseInfo.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm Case Incident
      id: 0fe00cf9-f2c4-4e1b-84ac-8f36cc19868e
      iscommand: true
      name: Confirm the portal case as a true incident
      script: '|||mssportal-confirm-case-incident'
      type: regular
      version: -1
    taskid: 0fe00cf9-f2c4-4e1b-84ac-8f36cc19868e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2645
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 2
    scriptarguments:
      incident_id:
        simple: ${incident.xdrincidentid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Returns additional data for the specified incident, for example,
        related alerts, file artifacts, network artifacts, and so on.
      id: 3999e9ae-d395-42e5-83ae-65fe2b52ea8f
      iscommand: true
      name: 'Get extra incident data '
      script: Cortex XDR - IR|||xdr-get-incident-extra-data
      type: regular
      version: -1
    taskid: 3999e9ae-d395-42e5-83ae-65fe2b52ea8f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 520
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 2
    scriptarguments:
      IncidentID:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This playbook enriches the Cortex XDR incident. The enrichment is done on the involved endpoint and Mitre technique ID information, and sets the 'Malware-Investigation and Response' layout.
      id: 647cc1d0-43c8-405a-8202-1aeed7a985be
      iscommand: false
      name: SOCaaS - Cortex XDR Malware - Incident Enrichment
      playbookId: a3154fd7-21d8-4067-8c32-cd7bcd4afe07
      type: playbook
      version: -1
    taskid: 647cc1d0-43c8-405a-8202-1aeed7a985be
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "12"
      - "15"
    note: false
    quietmode: 2
    scriptarguments:
      alertcreation_customerid:
        simple: ${MSSPortal.CaseInfo.customerId}
      alertcreation_name:
        simple: ${MSSPortal.CaseInfo.caseTitle}
      alertcreation_severity:
        simple: ${MSSPortal.CaseInfo.priority}
      alertcreation_sourcealertid:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      alertcreation_sourcecreatedat:
        complex:
          accessor: creation_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      alertcreation_sourceid:
        simple: ${MSSPortal.CaseInfo.caseSource}
      alertcreation_sourcemodifiedat:
        complex:
          accessor: modification_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      caseDescription:
        simple: ${MSSPortal.Case.description}
      caseTitle:
        simple: ${MSSPortal.Case.caseTitle}
      customerId:
        simple: ${MSSPortal.Case.customerId}
      investigationCaseId:
        simple: ${MSSPortal.Case.id}
      name:
        simple: ${MSSPortal.Case.caseTitle}
      severity:
        simple: ${MSSPortal.Case.priority}
      sourceAlertId:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      sourceCreatedAt:
        complex:
          accessor: creation_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      sourceId:
        simple: ${MSSPortal.Case.caseSource}
      sourceModifiedAt:
        complex:
          accessor: modification_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      sourceRaw:
        simple: ${PaloAltoNetworksXDR.Incident}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-create-alert command: Returns a MSSPortal alert'
      id: fa3d51cd-46cf-4962-8328-fa452002e3e0
      iscommand: true
      name: Create an alert to the case
      script: '|||mssportal-create-alert'
      type: regular
      version: -1
    taskid: fa3d51cd-46cf-4962-8328-fa452002e3e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1605
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    sla:
      days: 3
      hours: 0
      minutes: 0
      weeks: 0
    task:
      brand: MSS Portal - MDR
      description: 'mssportal-create-task command: Returns a MSSPortal task'
      id: 4f764d65-2b33-4a13-8f0d-f1565f1e70fb
      iscommand: false
      name: Handle Malware on VIP or SERVER
      type: regular
      version: -1
    taskid: 4f764d65-2b33-4a13-8f0d-f1565f1e70fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3170
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10d2c4e7-4d41-475a-8a8b-36724387683d
      iscommand: false
      name: Get customer id
      script: a4743b1e-d208-4ff0-8272-d272c558ca46
      type: regular
      version: -1
    taskid: 10d2c4e7-4d41-475a-8a8b-36724387683d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 25
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 2
    scriptarguments:
      limit:
        simple: "1"
      searchText:
        simple: Malware on host
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find playbooks
      id: 8946344e-5a5e-4a52-8128-da12dd63ad1c
      iscommand: true
      name: Find Malware on host playbooks on the portal
      script: '|||mssportal-find-playbooks'
      type: regular
      version: -1
    taskid: 8946344e-5a5e-4a52-8128-da12dd63ad1c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -640,
          "y": 1865
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      activateplaybookrequest_caseid:
        simple: ${MSSPortal.CaseInfo.id}
      activateplaybookrequest_playbookid:
        simple: ${MSSPortal.PagePlaybookInfo.content.[0].id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Activate playbook
      id: 8197d272-53b3-4dae-83bb-adbebb6b3524
      iscommand: true
      name: Activate portal's  Malware on host playbook in the case
      script: '|||mssportal-activate-playbook'
      type: regular
      version: -1
    taskid: 8197d272-53b3-4dae-83bb-adbebb6b3524
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -640,
          "y": 2040
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      alertId:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      customerId:
        simple: ${MSSPortal.CustomerInfo.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find cases
      id: 8c2cda15-5e1e-4312-8aa7-f1d53f00438e
      iscommand: true
      name: Verify Case Source ID Exists
      script: '|||mssportal-find-cases'
      type: regular
      version: -1
    taskid: 8c2cda15-5e1e-4312-8aa7-f1d53f00438e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 100,
          "y": 1110
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MSSPortal.PageCaseInfo.empty
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cf85bbff-c26e-4ea4-8909-2f796211cf45
      iscommand: false
      name: Case Exists?
      type: condition
      version: -1
    taskid: cf85bbff-c26e-4ea4-8909-2f796211cf45
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 1545
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      alert:
        complex:
          accessor: alert_id
          root: PaloAltoNetworksXDR.Incident.alerts
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b71af6a6-6c3f-4ba6-8dcf-b5dcae97dc5b
      iscommand: false
      name: 'Benign Scenario: Security Testing'
      playbookId: d702f63a-a525-4139-8031-9f79abb651df
      type: playbook
      version: -1
    taskid: b71af6a6-6c3f-4ba6-8dcf-b5dcae97dc5b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 3360
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: bd997f6c-1d03-4698-8528-fe86e68e1549
      iscommand: false
      name: 'Potential Incident Scenario: IPS (NGFW) Alerts for Public Facing Services'
      playbookId: bc14a178-f627-486d-8712-98d73d6330b1
      type: playbook
      version: -1
    taskid: bd997f6c-1d03-4698-8528-fe86e68e1549
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 3360
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Match
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 93e5cfe6-f685-493c-8d3e-2745ceaa8856
      iscommand: false
      name: 'All Match '
      type: condition
      version: -1
    taskid: 93e5cfe6-f685-493c-8d3e-2745ceaa8856
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 3550
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 15
    nexttasks:
      '#none#':
      - "35"
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      alert_id:
        complex:
          accessor: alert_id
          root: PaloAltoNetworksXDR.Incident.alerts
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 5e4f3d11-d670-4334-860c-bfd33e93845c
      iscommand: false
      name: Scenario
      playbookId: d702f63a-a525-4139-8031-9f79abb651df
      type: playbook
      version: -1
    taskid: 5e4f3d11-d670-4334-860c-bfd33e93845c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 710
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: None
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: (NGFW)IPS
          operator: isNotEmpty
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: BenignSecuirty
          operator: isEmpty
        - left:
            iscontext: true
            value:
              simple: (NGFW)IPS
          operator: isEmpty
      label: Only Null
    - condition:
      - - left:
            iscontext: true
            value:
              simple: BenignSecuirty
          operator: isEmpty
        - left:
            iscontext: true
            value:
              simple: None
          operator: isEmpty
      label: Only (NGFW)IPS
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      Only (NGFW)IPS:
      - "46"
      Only Null:
      - "45"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87bc9259-a4a8-42db-86d8-277f556e85d5
      iscommand: false
      name: Different Scenarios?
      type: condition
      version: -1
    taskid: 87bc9259-a4a8-42db-86d8-277f556e85d5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 910
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      manual_severity:
        simple: LOW
      resolve_comment:
        simple: All cases match Benign Security test from ${PaloAltoNetworksXDR.Incident.alerts.host_ip_list}
      status:
        simple: RESOLVED_SECURITY_TESTING
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: 0131deec-76bb-4a9f-8271-8957fb8e9dd5
      iscommand: true
      name: All Match
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: 0131deec-76bb-4a9f-8271-8957fb8e9dd5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": 1195
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 960de740-1efc-40f2-85ce-5b2bf03ea3b6
      iscommand: false
      name: Mixed Scenarios
      type: title
      version: -1
    taskid: 960de740-1efc-40f2-85ce-5b2bf03ea3b6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1180,
          "y": 1190
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      status:
        simple: UNDER_INVESTIGATION
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: 1d9e530f-4691-48af-8e27-42eb2e04cdf6
      iscommand: true
      name: Under Investigation
      script: Cortex XDR - IR|||xdr-update-incident
      type: regular
      version: -1
    taskid: 1d9e530f-4691-48af-8e27-42eb2e04cdf6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1180,
          "y": 1360
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 2
    scriptarguments:
      caseSource:
        simple: Cortex XDR
      caseTitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      casecreation_casesource:
        simple: XSOAR_CORTEX_XDR
      casecreation_casetitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      casecreation_customerid:
        simple: ${MSSPortal.CustomerInfo.id}
      casecreation_description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      casecreation_priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      casecreation_servicecomponent:
        simple: SOC
      customerId:
        simple: ${MSSPortal.tsp_customer_id}
      description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      serviceComponent:
        simple: SOC
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-create-case command: Returns a MSSPortal case'
      id: 5af75085-409f-4f4d-8572-b1a8b784f65b
      iscommand: true
      name: Create a case in portal
      script: '|||mssportal-create-case'
      type: regular
      version: -1
    taskid: 5af75085-409f-4f4d-8572-b1a8b784f65b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 170
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 2
    scriptarguments:
      alertcreation_customerid:
        simple: ${MSSPortal.CaseInfo.customerId}
      alertcreation_name:
        simple: ${MSSPortal.CaseInfo.caseTitle}
      alertcreation_severity:
        simple: ${MSSPortal.CaseInfo.priority}
      alertcreation_sourcealertid:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      alertcreation_sourcecreatedat:
        complex:
          accessor: creation_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      alertcreation_sourceid:
        simple: ${MSSPortal.CaseInfo.caseSource}
      alertcreation_sourcemodifiedat:
        complex:
          accessor: modification_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      caseDescription:
        simple: ${MSSPortal.Case.description}
      caseTitle:
        simple: ${MSSPortal.Case.caseTitle}
      customerId:
        simple: ${MSSPortal.Case.customerId}
      investigationCaseId:
        simple: ${MSSPortal.Case.id}
      name:
        simple: ${MSSPortal.Case.caseTitle}
      severity:
        simple: ${MSSPortal.Case.priority}
      sourceAlertId:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      sourceCreatedAt:
        complex:
          accessor: creation_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      sourceId:
        simple: ${MSSPortal.Case.caseSource}
      sourceModifiedAt:
        complex:
          accessor: modification_time
          root: PaloAltoNetworksXDR.Incident
          transformers:
          - operator: TimeStampToDate
      sourceRaw:
        simple: ${PaloAltoNetworksXDR.Incident}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'mssportal-create-alert command: Returns a MSSPortal alert'
      id: db9cd46f-cc50-4d2f-8aea-377775911a00
      iscommand: true
      name: Create an alert to the case
      script: '|||mssportal-create-alert'
      type: regular
      version: -1
    taskid: db9cd46f-cc50-4d2f-8aea-377775911a00
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 335
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      resolve_comment:
        simple: 'None match. Still working progress '
      status:
        simple: UNDER_INVESTIGATION
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: 4de096f4-e1d2-484d-8195-17389d3d6d8e
      iscommand: true
      name: No Scenarios Match
      script: Cortex XDR - IR|||xdr-update-incident
      type: regular
      version: -1
    taskid: 4de096f4-e1d2-484d-8195-17389d3d6d8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1720,
          "y": 1175
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      resolve_comment:
        simple: Case closed as it relates only to threat activity from the Internet
          targeting external service(s). Any service facing the Internet will continuously
          face scanning and opportunistic exploitation attempts, which are not cause
          for any specific concern
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: d6cfda1a-5375-4068-8046-442488349965
      iscommand: true
      name: 'Only (NGFW)IPS alerts '
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: d6cfda1a-5375-4068-8046-442488349965
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2230,
          "y": 1150
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      list_stats:
        simple: None
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e6904f46-23d2-4c7b-803e-b16c32c22fdd
      iscommand: false
      name: Overview of Scenarios
      script: 1950eeb2-e086-4f71-8339-512d30419012
      type: regular
      version: -1
    taskid: e6904f46-23d2-4c7b-803e-b16c32c22fdd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 900
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4285,
        "width": 3250,
        "x": -640,
        "y": -150
      }
    }
  }
